.home-container {
  margin-top: 0;

  /* height: 1100px; */
  max-width: auto;
  flex-direction: column;
  justify-content: center;

  /* width: 700px;
  height: 250px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); */

  /* border-radius: 25px; */
}

.home-order-btn {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.col-half {
  font-family: 'Tiempos Headline', sans-serif;
  color: black;
  padding-left: 75px;
  max-width: 45%;
  width: 750px;
  font-size: 30px;
  padding-top: 40px;
  font-weight: bolder;
}

.header-container {
  flex-direction: column;
  justify-content: center;

  /* width: 700px;
  height: 250px; */
  display: flex;
  align-items: center;

  /* box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); */
  border-radius: 25px;

  /* margin: 30px; */
}

.test-row {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.home-header-text {
  height: 10px;
  font-size: 60px;
}

.home-p-text {
  height: 20px;
  font-size: 40px;
}

.home-image {
  height: 300px;
  width: 600px;
}

.fb-image {
  height: 70px;
  padding-top: 30px;
  padding-right: 30px;
  text-shadow: 1px 1px 1px black;
  border-radius: 5px;
}

.ig-image {
  height: 70px;
  padding-right: 25px;
  text-shadow: 1px 1px 1px black;
}

.news-image {
  position: relative;
  top: 6px;
  height: 90px;
  text-shadow: 1px 1px 1px black;
}

.reviews-image {
  position: relative;
  top: 6px;
  padding-right: 20px;
  height: 80px;
  text-shadow: 1px 1px 1px black;
}

.home-image1 {
  height: 300px;
  width: 600px;
  padding-left: 30px;
}

.home-spacing {
  height: 30px;
}

.carousel {
  padding-top: 30px;
}

.pressReview {
  display: flex;
  padding-left: 20px;
  font-size: 20px;
}

.press-bottom {
  padding-right: 20px;
}
