.home-container {
  flex-direction: column;
  justify-content: center;

  /* width: 700px;
  height: 250px; */
  display: flex;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.home-order-btn {
  padding-left: 30px;
  padding-right: 30px;
}
