.detailsContainer {
  flex-direction: column;
  justify-content: center;

  /* width: 700px;
  height: 250px; */
  display: flex;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
  padding-left: 50px;
}

.image {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.long-description {
  white-space: pre-wrap;
  max-width: 500px;
}

.addSubtract {
  display: flex;
  flex-direction: row;
}

.quantity-col {
  width: 100%;
  height: 80px;

  /* background-color: rgb(19, 19, 19); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  padding-left: 20px;
}

.details-product-name {
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 10px;
}

h5 {
  padding-bottom: 10px;
}

.counter-plus {
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.counter-minus {
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.count {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  letter-spacing: 4px;
  text-shadow: 2px 2px 2px red;
  font-size: 40px;
}

.add-to-cart-btn {
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
