svg {
  color: rgb(234, 243, 247);
  font-size: 3rem;
}

.hidden {
  display: none;
}

.carousel-image {
  width: 500px;
  max-height: 500px;
  object-fit: contain;
  position: relative;
  border-radius: 25px;
}

@media only screen and (width >= 1000px) {
  li {
    width: 25%;
  }
}
