* {
  margin: auto;
}

.navbar {
  flex-wrap: wrap;

  /* padding-left: 30px; */

  /* width: 1900px; */
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  place-items: center;
  width: 100%;
}

/* flex-wrap: wrap;
flex-basis: calc(100% / 3);

height: auto;
display: flex;
grid-template-columns: 1fr 1fr 1fr;
 */

.links {
  /* margin: 0; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* justify-content: space-between; */
  background-color: rgb(19, 19, 19);
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  background-color: rgb(19, 19, 19);
}

.bbLogo {
  text-decoration: none;
  color: white;
  background-color: rgb(19, 19, 19);
  max-width: 50%;

  /* padding-left: 40px; */
}

h1 {
  color: white;
}

.col-one {
  display: flex;
  color: red;
  letter-spacing: 4px;
  text-shadow: 2px 2px 2px black;
}

.col-two {
  /* padding-left: 37rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.col-three {
  display: flex;
  flex: end;
}

/* img {
  padding-left: 30px;
  padding-right: 20px;
} */

.sign-in-btn {
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;

  /* padding: 5px; */
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;

  /* color: red; */

  /* text-shadow: 1px 1px 1px black; */
}

.sign-out-btn {
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

@media only screen and (width >= 1000px) {
  li {
    width: 25%;
  }
}
