* {
  margin: auto;
}

.row {
  padding-top: 20px;
}

.empty-cart {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-container {
  padding: 30px;
}

.cart-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* .cart-image {
  width: 100%;
  height: 6rem;
  background-color: transparent;
  text-align: center;
  border-style: none;
  cursor: default;
} */

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.remove-btn {
  padding-bottom: 20px;
}

.cart-header {
  /* font-family: 'Bubblegum Sans', cursive; */
  color: red;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px black;
}

.items {
  border-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.subtotal {
  border-bottom: 10px;
  padding-bottom: px;
  font-weight: bold;
}

.checkout-btn {
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.checkout-shop {
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.btn-space {
  padding: 20px;
}

.card-body {
  font-size: 20px;
}

.cart-item-details {
  padding-top: 10px;
}

.remove {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.checkout-row {
  padding-bottom: 30px;
}

.empty-cart-msg {
  padding-top: 6rem;
  font-size: 40px;
}

.back-to-shop-btn {
  /* padding: 30px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: red;
  border-radius: 20px;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.back-to-shop-btn-row {
  padding-bottom: 20rem;
}

.loading {
  font-weight: bold;
  color: red;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
